body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-color: black;
}
button{
    margin: 20px;
    border-radius: 20px;
    background-color:grey;
}

button:hover{
    box-shadow: 10px 10px 5px grey;
}

h1{
    color: white;
    cursor: pointer;
}

input{
    cursor: pointer;
    border-radius: 10px;
}

input:hover{
    box-shadow: grey 10px 10px 5px;
}